<nav class="navbar navbar-expand navbar-dar bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light">
        <i class="fa-solid fa-bars"></i>
    </div>
    <a class="navbar-brands px-4">Company Name</a>

    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    Menu 1
                </a>
            </li>

        </ul>
    </div>
</nav>